<!DOCTYPE html>
<html lang="{{ shop.locale | default: 'en' }}">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page_title }}</title>
    {{ content_for_header }}
</head>

<body>
    {% section 'header' %}
    {{ content_for_layout }}
    {% section 'footer' %}

    <h1>Hello, welcome to my Shopify theme!</h1>
</body>

</html>